  <div class="row mx-2 mt-4" *ngIf="authService.userData as user">
    <div class="col-lg-4 ps-2">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
              alt="{{user.displayName}}">
          <h5 class="my-3 text-capitalize">{{(user.displayName) ? user.displayName : 'User'}}</h5>
          <p class="text-muted mb-1">Gamer</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{(user.displayName) ? user.displayName : 'User'}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.email}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email Verified</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user.emailVerified}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">User ID</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><i>Secured/Hidden</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>